.container {
  margin: 0 auto;
  max-width: 1000px;
  border: 1px solid;
  border-color: grey;
}

nav {
  background: white;
  border: white;
  padding: 0;
  margin-top: 10px;
  margin-left: 100px;
  width: 300px;
}
input {
  border-radius: 25px;
  padding-left: 10px;
}
button {
  background: #7330f9;
  color: white;
  border-radius: 15px;
  border: #7330f9;
  font-family: "Merriweather", serif;
}
#find {
  margin: 3px;
}

h1 {
  color: #7330f9;
  padding: 50px 0px 10px 0px;
  margin-left: 140px;
  font-family: "Merriweather", serif;
  font-weight: 700;
}
h2 {
  color: #7330f9;
  margin-left: 140px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  display: inline-block;
}

.weatherDescription {
  text-transform: capitalize;
}

.units .non-activeLink {
  color: #0e20e2;
  cursor: default;
  font-size: 20px;
  text-decoration: none;
}
.units .non-activeLink:hover {
  text-decoration: none;
}

.units .activeLink {
  color: #7330f9;
  cursor: default;
  font-size: 20px;
  text-decoration: none;
}

.units .non-activeLink:hover {
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

img {
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #272044;
  margin-left: 100px;
}

#sun,
#humid,
#wind {
  margin-left: 110px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  border: none;
  width: 150px;
}

#date {
  margin-left: 100px;
  margin-bottom: 100px;
  padding: 10px 50px 10px 20px;
  border-color: #272044;
  border: 1px solid;
  font-family: "Merriweather", serif;
  border-radius: 25px;
  font-weight: bold;
}

#codeLink {
  font-family: "Merriweather", serif;
  margin-left: 200px;
  font-size: 15px;
  font-weight: bold;
}

.flex {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  padding-top: 10px;
  margin-top: 10px;
  list-style: none;
  border-color: #272044;
  border: 1px solid;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 15px;
  flex-direction: column;
}
